<form>
  <mat-form-field>
    <input matInput placeholder="Inserisci post" type="text"
    (change)="createPost(title)" #title>
  </mat-form-field>
   
</form>
<mat-list>
  <mat-list-item *ngFor="let post of posts">
  <!-- <button mat-button (click)="updatePost(post)">update</button> -->
  <!-- <button mat-mini-fab color="primary" (click)="deletePost(post)">delete</button> -->
  <button mat-mini-fab color="primary">
      <mat-icon class="mat-24" (click)="updatePost(post)">update</mat-icon>
  </button>
  <button mat-mini-fab>
      <mat-icon class="mat-24" (click)="deletePost(post)">delete</mat-icon>
  </button>
  
  {{post.title}}
  </mat-list-item>
</mat-list>



<!-- <div class="container">
  <div class="navbar"></div>
  <input 
    (keyup.enter)="createPost(title)" #title
    type="text" class="form-control">
  <ul class="list-group">
    <li 
      *ngFor="let post of posts"
      class="list-group-item">
      {{post.title}}
    </li>
  </ul>
</div> -->